*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #0d0d0d;
    color: rgb(255, 255, 255);
}

/* NAVBAR */

header{
    width: 100%;
    padding: 9px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    font-size: 25px;
    font-weight: 700;
    color: #00f7ff;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #00f7ff;
}

.shop-btn{
    padding: 10px 20px;
    border: none;
    background: #00f7ff;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.shop-btn:hover{
    transform: scale(1.05);
}

/* HERO */

.hero{
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),
    url('https://images.unsplash.com/photo-1542751371-adc38448a05e?q=80&w=1600&auto=format&fit=crop');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero-content h1{
    font-size: 70px;
    margin-bottom: 20px;
}

.hero-content p{
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
}

.hero-btn{
    margin-top: 30px;
    padding: 15px 35px;
    border: none;
    background: #00f7ff;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-btn:hover{
    transform: translateY(-5px);
}

/* PRODUCTS */

.products{
    padding: 80px 8%;
}

.products h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
}

.card{
    background: #161616;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3{
    padding: 20px 20px 10px;
}

.card p{
    padding: 0 20px 20px;
    color: #ccc;
}

.card button{
    margin: 0 20px 20px;
    padding: 10px 20px;
    border: none;
    background: #00f7ff;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

/* ABOUT */

.about{
    padding: 80px 8%;
    background: #111;
    text-align: center;
}

.about h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.about p{
    max-width: 800px;
    margin: auto;
    line-height: 1.8;
    color: #ccc;
}

/* FOOTER */

footer{
    text-align: center;
    padding: 20px;
    background: black;
    color: #777;
}

/* RESPONSIVE */

@media(max-width: 768px){

    header{
        flex-direction: column;
        gap: 20px;
    }

    nav ul{
        flex-direction: column;
        text-align: center;
    }

    .hero-content h1{
        font-size: 40px;
    }
}
/* LOGO IMAGE */

.logo-link{
    text-decoration: none;
}

.logo-img{
    width: 60px;
    height: auto;
    cursor: pointer;
    transition: 0.3s;
}

.logo-img:hover{
    transform: scale(1.05);
}

/* LOADING SCREEN */

#loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner{
    width: 60px;
    height: 60px;
    border: 6px solid #222;
    border-top: 6px solid #00f7ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

/* PAGE ANIMATION */

.page-animation{
    animation: fadeUp 0.8s ease;
}

@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* CART */

.cart-item{
    background: #161616;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 15px;
    border: 1px solid #222;
    transition: 0.3s;
}

.cart-item:hover{
    transform: scale(1.02);
    border-color: #00f7ff;
}

.cart-item h3{
    color: #00f7ff;
    margin-bottom: 10px;
}

.cart-item button{
    margin-top: 10px;
    padding: 10px 20px;
    background: crimson;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cart-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* CHECKOUT */

.checkout-form{
    max-width: 600px;
    margin: auto;
}

.checkout-form input,
.checkout-form select{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: #161616;
    border: 1px solid #333;
    border-radius: 8px;
    color: white;
}

.checkout-form input:focus,
.checkout-form select:focus{
    outline: none;
    border-color: #00f7ff;
}

/* SHOPIFY-STYLE PRODUCT POLISH */

.card{
    box-shadow: 0 0 20px rgba(0, 247, 255, 0.08);
}

.card h4{
    padding: 0 20px 15px;
    color: #00f7ff;
    font-size: 20px;
}

.card button:hover,
.shop-btn:hover,
.hero-btn:hover{
    box-shadow: 0 0 20px rgba(0, 247, 255, 0.5);
}
/* NAVBAR LAYOUT */

header{
    width: 100%;
    padding: 15px 8%;
    background: #111;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1000;
}

/* LEFT SIDE */

.left-nav{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* LOGO */

.logo-img{
    width: 70px;
    height: auto;
    cursor: pointer;
    transition: 0.3s;
}

.logo-img:hover{
    transform: scale(1.05);
}

/* WEBSITE NAME */

.site-name{
    color: #00f7ff;
    font-size: 26px;
    font-weight: 700;
}

/* NAVIGATION */

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #00f7ff;
}

/* CART COUNT */

#cart-count{
    background: #00f7ff;
    color: black;
    padding: 2px 7px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
}

/* QUANTITY BUTTONS */

.quantity-controls{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}

.quantity-controls button{
    width: 35px;
    height: 35px;
    border: none;
    background: #00f7ff;
    color: black;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.quantity-controls span{
    font-size: 20px;
    font-weight: 700;
}

.remove-btn{
    background: crimson !important;
    color: white !important;
}

/* PRODUCT SEARCH AND FILTER */

.product-controls{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.product-controls input,
.product-controls select{
    padding: 14px;
    width: 250px;
    background: #161616;
    color: white;
    border: 1px solid #333;
    border-radius: 8px;
}

.product-controls input:focus,
.product-controls select:focus{
    outline: none;
    border-color: #00f7ff;
}.profile-card{
    max-width: 500px;
    margin: 30px auto;
    background: #161616;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #222;
}

.profile-card h3{
    color: #00f7ff;
    margin-bottom: 15px;
}

.profile-card p{
    margin-bottom: 15px;
    color: #ccc;
}
/* ADMIN PANEL */

.admin-form{
    max-width: 600px;
    margin: 30px auto;
}

.admin-form input,
.admin-form select,
.admin-form textarea{
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    background: #161616;
    color: white;
    border: 1px solid #333;
    border-radius: 8px;
}

.admin-form textarea{
    height: 120px;
    resize: none;
}

.admin-form input:focus,
.admin-form select:focus,
.admin-form textarea:focus{
    outline: none;
    border-color: #00f7ff;
}

.admin-product-card{
    max-width: 800px;
    margin: 20px auto;
    background: #161616;
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #222;
    text-align: left;
}

.admin-product-card img{
    width: 140px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.admin-product-card h3{
    color: #00f7ff;
}

.admin-product-card h4{
    color: #00f7ff;
    margin: 10px 0;
}

.admin-product-card button{
    background: crimson;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}

/* ADMIN ORDERS */

.admin-order-card{
    max-width: 800px;
    margin: 20px auto;
    background: #161616;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #222;
    text-align: left;
}

.admin-order-card h3{
    color: #00f7ff;
    margin-bottom: 10px;
}

.admin-order-card h4{
    color: #00f7ff;
    margin-top: 15px;
}

.admin-order-card p{
    color: #ccc;
    margin: 8px 0;
}

.admin-order-card ul{
    margin-left: 20px;
    color: #ccc;
}

.admin-order-card li{
    margin: 6px 0;
}

/* SERVICES PAGE */

.services{
    padding: 80px 8%;
    background: #0d0d0d;
}

.services h2{
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
    color: white;
}

.service-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 35px;
}

.service-card{
    background: #161616;
    border-radius: 18px;
    overflow: hidden;
    transition: 0.3s;
    border: 1px solid #222;
}

.service-card:hover{
    transform: translateY(-10px);
    border-color: #00f7ff;
    box-shadow: 0 0 25px rgba(0, 247, 255, 0.2);
}

.service-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.service-info{
    padding: 25px;
}

.service-info h3{
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
}

.service-info p{
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 20px;
}

.service-info h4{
    color: #00f7ff;
    font-size: 24px;
    margin-bottom: 20px;
}

.service-info button{
    padding: 12px 25px;
    border: none;
    background: #00f7ff;
    color: black;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.service-info button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 247, 255, 0.5);
}

/* CONTACT PAGE */

.contact-section{
    padding: 70px 8%;
    min-height: 100vh;
    background: #050505;
}

.contact-section h2{
    text-align: center;
    font-size: 52px;
    color: white;
    margin-bottom: 50px;
}

.contact-card{
    max-width: 700px;
    margin: auto;
    background: #111;
    border: 1px solid #1f1f1f;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0,247,255,0.08);
}

.contact-card h3{
    color: #00f7ff;
    font-size: 36px;
    margin-bottom: 35px;
}

.contact-item{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.contact-item span{
    font-size: 28px;
    color: #00f7ff;
}

.contact-item p{
    color: white;
    font-size: 22px;
    line-height: 1.5;
}

.contact-item a{
    color: #00f7ff;
    text-decoration: none;
}

.contact-item a:hover{
    text-decoration: underline;
}

.contact-card button{
    margin-top: 20px;
    padding: 14px 28px;
    border: none;
    background: #00f7ff;
    color: black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.contact-card button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,247,255,0.4);
}

/* LOGIN / SIGNUP PAGE */

.auth-section{
    padding: 70px 8%;
    min-height: 100vh;
    background: #050505;
}

.auth-section h2{
    text-align: center;
    font-size: 52px;
    color: white;
    margin-bottom: 50px;
}

.auth-card{
    max-width: 520px;
    margin: auto;
    background: #111;
    border: 1px solid #1f1f1f;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0,247,255,0.08);
}

.auth-card h3{
    color: #00f7ff;
    font-size: 30px;
    margin-bottom: 30px;
}

.auth-card input{
    width: 100%;
    padding: 15px;
    margin-bottom: 18px;
    background: #0d0d0d;
    border: 1px solid #2a2a2a;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.auth-card input:focus{
    outline: none;
    border-color: #00f7ff;
    box-shadow: 0 0 12px rgba(0,247,255,0.2);
}

.auth-card button{
    width: 100%;
    padding: 15px;
    border: none;
    background: #00f7ff;
    color: black;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.auth-card button:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(0,247,255,0.4);
}

.auth-card p{
    margin-top: 22px;
    color: white;
    text-align: center;
}

.auth-card a{
    color: #00f7ff;
    text-decoration: none;
    font-weight: 700;
}

.auth-card a:hover{
    text-decoration: underline;
}